#containerContact{
    color: #EEEEEE;
    background-color: #131313;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat';
    overflow: hidden;
}
#divForm1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: white;
}
#divForm1 h2{
    color: black;
    font-family: 'Montserrat';
    font-size: 40px;
    border-bottom: 1px solid black;
}
#divOther{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60%;
}
#divOther form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#divOther form input{
    width: 80%;
    padding: 10px;
}
#divOther form textarea {
    resize: none;
    width: 80%;
    height: 80%;
    font-family: 'Helvetica';
    font-size: 15px;
    padding: 10px;
}
#divOther a{
    width: 100%;
    height: 5%;
}
#divOther a button{
    height: 100%;
    width: 20%;
    font-family: 'Montserrat';
    color: white;  
    background-color: black;
    border: none;
    cursor: pointer;
    transition: .2s
}
#divOther a button:hover{
    transform: scale(1.03)
}
#video {
    width: 30%;
    height: 100%;
    background-color: black;
}
#video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}
@media screen and (max-width: 1500px){
    #divOther{
        width: 70%;
    }
}
@media screen and (max-width: 1100px){
    #divForm1 h2{
       font-size: 32px;
    }
    #divOther{
        width: 85%;
    }
}
@media screen and (max-width: 800px){
    #divForm1{
        width: 100%;
    }
    #video{
        display: none;
    }
}
@media screen and (max-width: 600px){
    #divForm1{
        width: 100%;
    }
    #divForm1 h2{
        font-size: 30px;
     }
    #video{
        display: none;
    }
    #divOther{
        width: 90%;
    }
}
@media screen and (max-width: 420px){
    #divForm1{
        width: 100%;
    }
    #divForm1 h2{
        font-size: 20px;
     }
    #video{
        display: none;
    }
    #divOther{
        width: 100%;
    }
}