#panelContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    border-radius: 30px;
}
#firstDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: 50%;
    margin-top: 50px;
    border-radius: 30px;
}
#divImages{
    min-width: 400px;
    width: 65%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#imgPrincipal{
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
}
#imgPrincipal img{
    width: 100%;
    max-height: 100%;
}
#imgCarrousel{
    width: 90%;
    height: 15%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}
#divButtons{
    height: 100%;
    min-width: 150px;
    overflow: hidden;
}
#button{
    height: 100%;
    min-width: 150px;
    border: none;
    z-index: -1;
}
#button2{
    z-index: 1000;
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .2s;
    margin-left: 85%;
    margin-bottom: 65%;
}
#button2:hover{
    transform: scale(1.08)
}
#divInfo{
    min-width: 400px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    gap: 10px;  
}
#input1 {
    width: 87%;
    height: 5%;
    padding: 5px 5px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-family: "Montserrat";
}
.select1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.select2{
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.select2 input::-webkit-file-upload-button {
    visibility: hidden;
  }
.select2 input::before {
    content: 'SELECT FILES';
    display: inline-block;
    background-color: #ddd;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    font-family: "Montserrat";
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin-right: -120px;
  }
.select2 input:hover::before {
    border-color: black;
  }
.select2 input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  
/* .select2 input{
    background-color: blue;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
} */
#input2{
    width: 39.5%;
    padding: 10px 8px;
    height: 5%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 12px;
}
#input1::-webkit-outer-spin-button,
#input1::-webkit-inner-spin-button,
#input2::-webkit-outer-spin-button,
#input2::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}   
.select{
    width: 90%;
    height: 50%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
#textarea{
    resize: none;
    font-family: "Helvetica";
    font-size: 15px;
    width: 90%;
    height: 20%;
    min-height: 100px;
    overflow-y: scroll;
}
#h1{
    font-family: "Montserrat";
    font-size: 40px;
}
#caracteristicas{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
}
#caracteristicas h2{
    border-bottom: 1px solid black;
    font-size: 25px;
    font-family: "Helvetica";
}
.general{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.general div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.general label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
}
.general select{
    margin-left: 30px;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid black;
}
#buttonPublicar{
    height: 30px;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-bottom: 50px;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 20px;
    transition: .2s;
}
#buttonPublicar:hover{
    transform: scale(1.02)
}
#divP {
    margin-top: 50px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
#divVideo {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#video{
    width: 100%;
    height: 100%;
}
#divVideo button{
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 25px;
    transition: .2s;
}
#divVideo button:hover{
    transform: scale(1.05)
}
#divPres {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#videoPres{
    width: 100%;
    height: 100%;
}
#imgPres{
    width: 100%;
    height: 100%;
}
#divPres button{
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 25px;
    transition: .2s;
}
#divPres button:hover{
    transform: scale(1.05)
}
#divPres2 {
    width: 30%;
    height: 100%;
}
#divPres2 img{
    width: 100%;
    height: 100%;
}
#divPres2 button{
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 25px;
    transition: .2s;
}
#divPres2 button:hover{
    transform: scale(1.05)
}

@media screen and (max-width: 1024px) {
    #imgPrincipal{
        display: flex;
        align-items: center;
        width: 100%;
        height: 350px;
    }
    .general div{
        grid-template-columns: repeat(1, 1fr);
    }
    #h1{
        font-size: 30px;
    }
}
#photo::before{
    content: 'Fotos'
}
#videoP::before{
    content: 'Video'
}
#presentation::before{
    content: 'Presentacion 1'
}
#presentation2::before{
    content: 'Presentacion 2'
}