#contPhoto{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}
#bigPhoto{
    background-color: rgba(0, 0, 0, 0.781);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}
#contPhoto img{
    position: absolute;
    top: 10vh;
    max-width: 80vw;
    max-height: 80vh;
    min-width: 25vw;
    margin-bottom: -100%;
    z-index: 1000;
}
#bigPhoto button{
    position: absolute;
    top: 5vh;
    left: 20vw;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 10px 15px black;
    transition: .2s;
    z-index: 2001 !important;
}
#bigPhoto button:hover{
    transform: scale(1.1);
}
#bigPhotoN{
    display: none;
}

#section1 {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7
}
#title{
    position: absolute;
    color: white;
    font-family: "Montserrat";
    font-size: 2.25vw;
    margin-bottom: 5%;
}
#section2{
    width: 100%;
    height: 200vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div1{
    width: 60%;
    height: 80%;
}
#divNav {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
    width: 100%;
    height: 5%;
}
#divNav h2{
    cursor: pointer;
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 23px;
    transition: .1s;
}
#divNav h2:hover{
    transform: scale(1.03);
}
#div2 {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#divIzq{
    margin-top: 5%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
#divIzq div {
    overflow: hidden;
    margin: 10px 0;
}
#divA{
    width: 70%;
    min-height: 300px;
    margin: 30px 0 !important;
    text-justify: inter-word;
    text-align: justify;
}
#divA h1{
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 1000;
    text-align: left;
}
#divB{
    width: 70%;
    height: 25%;
}
#divC{
    width: 70%;
    height: 25%;
}
#divD{
    width: 50%;
    height: 20%;
}
#divDer{
    margin-top: 15%;
    width: 50%;
    height: 100%;
}
#divDer div{
    overflow: hidden;
    margin: 20px 0;
}
#divE{
    width: 85%;
    height: 40%;
    overflow: hidden;
}
#divF{
    width: 65%;
    height: 35%;
}
#divG{
    width: 85%;
    height: 25%;
}
#imgV{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
    cursor: pointer;
}
#imgV:hover{
    transform: scale(1.05)
}
#video2{
    width: 100%;
    height: 100%;
}